<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3JbmyxDGNJwLpklEKwl92ylhdNsGBCa8</string>
	<key>GCM_SENDER_ID</key>
	<string>404829095558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.registroici.hml</string>
	<key>PROJECT_ID</key>
	<string>sisop-rs-hml</string>
	<key>STORAGE_BUCKET</key>
	<string>sisop-rs-hml.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404829095558:ios:814c054ae641e1038cb307</string>
</dict>
</plist>
